@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inside your global CSS file or a <style> block */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.swiper-button-next, .swiper-button-prev {
    color: black;
}

.custom-pagination .swiper-pagination-bullet {
background-color: #c9e7b0;
opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
transform: scale(1.3);
background-color: #97E13E; 
}